<h2>All Students</h2>

<% if @students.empty? %>
  <p>There are no students in the school.</p>
<% else %>
  <ul>
    <% @students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
<% end %>